:root {
    --colorPrimary: #222222;
    --colorPrimaryHover: #595757;
    --colorSecondary: #B22D00;
    --colorSecondaryHover: #792103;
    --colorSecondaryAlt: #e1c863;
    --colorSecondaryAltHover: #ab8c16;
}
a {
    color: var(--colorSecondary);
}
a:hover {
    color: var(--colorSecondaryHover);
}
.outfit-appet {
     font-family: "Outfit", sans-serif;
     font-optical-sizing: auto;
     font-weight: 300;
     font-style: normal;
 }
.nav-item.active a{
    color: var(--colorSecondaryAlt) !important;
}
.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}
.card-primary.card-outline, .card-primary.card-outline-tabs>.card-header a.active, .card-primary.card-outline-tabs>.card-header a.active:hover {
    border-top: 3px solid var(--colorSecondary);
}

.text-secondary {
    color: var(--colorSecondary) !important;
}

a.text-secondary:hover, a.text-secondary:focus {
    color: var(--colorSecondary) !important;
}
.bg-secondary {
    background-color: var(--colorSecondary) !important;
}
.bg-secondary.btn.active, .bg-secondary.btn:active, .bg-secondary.btn:not(:disabled):not(.disabled).active, .bg-secondary.btn:not(:disabled):not(.disabled):active {
    background-color: var(--colorSecondaryHover) !important;
    border-color: var(--colorSecondaryHover);
}
.bg-secondary.btn:hover {
    border-color: var(--colorSecondaryHover);
}
a.bg-secondary:focus, a.bg-secondary:hover, button.bg-secondary:focus, button.bg-secondary:hover {
    background-color: var(--colorSecondaryHover) !important;
}

.btn-outline-primary {
    color: var(--colorPrimary);
    border-color: var(--colorPrimary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--colorPrimary);
    border-color: var(--colorPrimary);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0 rgb(34, 34, 34, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: var(--colorPrimary);
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--colorPrimary);
    border-color: var(--colorPrimary);
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgb(34, 34, 34, 0.5);
}

.btn-outline-secondary {
    color: var(--colorSecondary);
    border-color: var(--colorSecondary);
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 0 rgb(177, 45, 0, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: var(--colorSecondary);
    background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgb(177, 45, 0, 0.5);
}

.btn-primary {
    color: #fff;
    background-color: var(--colorPrimary);
    border-color: var(--colorPrimary);
    box-shadow: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: var(--colorPrimaryHover);
    border-color: var(--colorPrimaryHover);
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--colorPrimaryHover);
    border-color: var(--colorPrimaryHover);
}

.btn-secondary {
    color: #fff;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
    box-shadow: none;
}

.btn-secondary:hover {
    color: #fff;
    background-color: var(--colorSecondaryHover);
    border-color: var(--colorSecondaryHover);
}

.btn-secondary:focus, .btn-secondary.focus {
    color: #fff;
    background-color: var(--colorSecondaryHover);
    border-color: var(--colorSecondaryHover);
    box-shadow: 0 0 0 0 rgb(144, 40, 4, 0.5);
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: var(--colorSecondaryHover);
    border-color: rgb(144, 40, 4, 0.5);

}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgb(144, 40, 4, 0.5);
}

.page-link {
    color: var(--colorSecondary);
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
}
.page-link:hover {
    color: var(--colorSecondary);
}
.form-control:focus{
    border-color: var(--colorSecondaryAlt);
    outline-color: var(--colorSecondaryAlt);
}


.loadingscr {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    align-items: start;
    justify-content: center;
    padding-top: 20%;
}
.loader {
    display: flex;
    align-items: center;
    flex-flow: column;
}